<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<!-- 
<th:block layout:fragment="customTitle">
	
</th:block> -->
<th:block layout:fragment="customContents">
	
<!-- page content -->
        <div class="right_col" role="main">

         
		 index가 메인 내용이 들어가는 화면입니다. <br>
		 사용할때는 복사해서 사용하세요. <br>
	
		 요기가 메인 내용을 집어넣으면 됩니다.<br>
		layout/index_init.html 파일이 원본이니까 혹시 필요한 기능있으면 그 파일 참고해서 <br>
		코드를 따오도록 해요.<br>

       	  축통관시 힘내요!<br>
       	  
       	  왜안돼?
       	  왜?



           
        </div>
        <!-- /page content -->
 
	
</th:block>
</html>